.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 16px;
  margin-right: 10px;
  position: relative;
  font-size: 15px;
  line-height: 18px;
  color: var(--grey-light-color);

  &::after {
    content: '';
    position: absolute;
    background-image: url("../../img/link-arrow.svg");
    width: 6px;
    height: 9px;
    right: 0;
    bottom: 5px;
  }

  &:last-child::after {
    display: none;
  }
}
