.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
  border-radius: 5px;
  background-color: var(--grey-color);
  font-weight: 700;
  font-family: 'SFProDisplay-Bold', sans-serif;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-form {
  display: flex;
}

.search__content-input {
  background: #F0F0F4;
  border-radius: 3px;
  padding: 5px 20px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
}

.search__content-input::placeholder {
  color: var(--grey-dark-color);
}

.search__content-btn {
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: var(--light-color);
  background: var(--blue-color);
  border-radius: 3px;
  padding: 17px 42px;
  border: none;
  margin-left: -3px;
}
