<section class="banner-section page-section">
  <div class="container">
    <div class="banner-section__inner">
      <div class="banner-section__slider">
        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>

        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>

        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>

        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>

        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>

        <a class="banner-section__slider-item" href="#">
          <img class="banner-section__slider-img" src="../img/banner-slider.jpg" alt="image">
        </a>
      </div>

      <a class="banner-section__item sale-item" href="#">
        <div class="sale-item__top">
          <div class="sale-item__info">
            Акция
          </div>

          <div class="sale-item__price">
            <div class="price sale-item__price-new">
              190&nbsp;000
            </div>

            <div class="price sale-item__price-old">
              225000
            </div>
          </div>
        </div>

        <div class="sale-item__img">
          <img src="../img/content/sale-1.png" alt="sale product">
        </div>

        <h5 class="sale-item__title">
          Лодочный мотор Suzuki DF9.9BRS
        </h5>

        <div class="sale-item__footer">
          Акция действует до
          <span>31.08.2020</span>
        </div>
      </a>
    </div>
  </div>
</section>
