<section class="categories page-section">
  <div class="container">
    <div class="categories__inner">
      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Квадроциклы
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-1.png" alt="product image">
        </div>
      </a>

      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Гидроциклы
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-2.png" alt="product image">
        </div>
      </a>

      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Катера
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-3.png" alt="product image">
        </div>
      </a>

      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Снегоходы
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-4.png" alt="product image">
        </div>
      </a>

      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Вездеходы
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-5.png" alt="product image">
        </div>
      </a>

      <a href="#" class="categories__item">
        <div class="categories__item-info">
          <h4 class="categories__item-title">
            Двигатели
          </h4>

          <p class="categories__item-text">
            Подробнее
          </p>
        </div>

        <div class="categories__item-img">
          <img src="../img/categories-6.png" alt="product image">
        </div>
      </a>
    </div>
  </div>
</section>
